<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--css-->
    <link href="/css/registerStyles.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Mono&family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ecd0310594.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/icon.png">

    <title>Crea tu cuenta</title>
</head>
<body>
    <header> 
        <div class="header-notebook">
        <div class="header-mobile">

        <a class="logo" href="/"><img  src="/images/logo-mercado-liebre.svg" alt="logo"></a>

        <div class="barra-busqueda">
            <form action="GET">
                <input type="text" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>

        </div>
        <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
        <nav>
            <ul class="site" type="none">
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="login" type="none">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <main>

        <div class="register-form">
            <h1><b>Registro de Usuario</b></h1>
        <form action="/">
            <div class="user-names">
            <input type="text" name="full-name" placeholder="Nombre y apellido" minlength="5" maxlength="30" required><br>
            <input type="text" name="user-name" placeholder="Nombre de usuario" minlength="5" required><br>
            </div>
            <label for="date" class="register-labels"><b>Fecha de nacimiento</b></label>
            <input type="date" name="date" min="1933-01-01" max="2010-01-01" required><br>
            <input type="text" name="address" placeholder="Domicilio" maxlength="100" required><br>
            
            <label class="register-labels"><b>Perfil de usuario</b></label>
            <div class="profile-radio">
            <label ><input type="radio" name="profile" required> Comprador</label>
            <label ><input type="radio" name="profile"> Vendedor</label>
            </div>
            
            <label class="register-labels"><b>Intereses</b></label>
            <div class="intereses">
            <label><input type="checkbox" required> Electro</label>
            <label><input type="checkbox"> Moda</label>
            <label><input type="checkbox"> Hogar</label>
            <label><input type="checkbox"> Juguetería</label>
            <label><input type="checkbox"> Vida sana</label>
            </div>
            <label for="user-photo" class="register-labels"><b>Foto de usuario</b></label>
            <input type="file" name="user-photo" id="user-photo" accept=".jpg, .png"><br>
            <div class="passwords">
            <input type="password" name="password" placeholder="Contraseña" maxlength="15" required><br>
            <input type="password" name="confirm-password" placeholder="Confirmar contraseña" maxlength="15" required><br>
            </div>
            <div class="botones">
            <button type="submit"><b>Enviar</b></button>
            <button type="reset"><b>Borrar</b></button>
            </div>
        </form>
        </div>
    </main>

    <footer> 
        <div class="footer-items">
        <section>
            <i class="fa-solid fa-credit-card"></i><br>
            <b>Pagá con tarjeta o en efectivo</b>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i><br>
            <b>Envío gratis desde $ 2.500</b>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i><br>
            <b>Seguridad de principio a fin</b>
            <p>¿No te gusta?!Devolvelo¡ En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@</p>
        </section>
    </div>
        <section class="copyright">
            <p>Copyright 1999-2020 MercadoLiebre S.R.L</p>
        </section>
    </footer>
    
</body>
</html>