*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #EAC926;
    width: 100%;
}

/* header*/
header{
    width: 100%;
}

header p{
    text-align: center;
    color: #000000;
}

header a{
    color: #393838;
    text-decoration: none;
}

.login,.site{
    display: none;
}

.burger-menu i{
    color:#ffffff;
    font-size: 20px;
    background-color: #1259c3;
    padding: 9px 10px;
    border-radius: 4px;
}

.burger-menu{
    text-align: center;
    margin: 20px 30px;
}

.header-mobile{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.logo{
    flex-grow: 50%;
    width: 50%;
    padding: 5px;
}

.barra-busqueda input{
    background-color: #ffffff;
    padding: 10px;
    border: #ffffff;
    border-radius: 4px;
    width: 95%;
}

.barra-busqueda i{
    background-color: #ffffff;
    color: #666;
    padding: 10px;
    border-radius: 4px;
    margin-right: 0px;
}

.header-mobile form{
    background-color: #ffffff;
    border: #ffffff;
    border-radius: 4px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.barra-busqueda{
    border-radius: 4px;
    border: #ffffff;
    margin: 5px;
    width: 100%;
    flex-grow: 50%;
}

/* footer*/

footer{
    background-color: #ffffff;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    padding: 15px;
    text-align: center;
}
footer section i{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

footer section.copyright{
    text-align: left;
    margin-top: 30px;
}

.footer-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-items section{
    margin-bottom: 20px;
    width: 85%;
}

/* main */

main{
    background-color: #ebebeb;
    width: 100%;
    padding: 70px 30px;
    display: flex;
    justify-content: center;
}

.login-form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.login-form h1{
    margin-bottom: 20px;
    color: #000000;
}

.login-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form input{
    padding: 10px;
    border-radius: 7px;
    border: solid 1.5px #ebebeb;
    margin-bottom: 25px;
}

button{
    background-color: #1259c3;
    color: #ffffff;
    padding: 7px 20px;
    border: #1259c3 solid 1px;
    border-radius: 7px;
    transition: all 450ms;
}

button:hover{
    background-color: #0022AA;
    border-color: #0022AA;
}


@media (min-width: 361px){

   /* header */

   .header-notebook{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0px 30px 0px 10px;
    height: 100px;
}
.header-mobile{
    width: 70%;
    justify-content: space-around;
}
.logo{
    width: 35%;
    flex-grow: 30%;
}
.barra-busqueda{
    margin: 20px;
    width: 50%;
    flex-grow: 70%;
    justify-self: center;
}
.barra-busqueda i,.barra-busqueda input{
    padding: 12px;

}
.header-notebook p{
    font-size: 1.5em;
    justify-self: center;
    display: flex;
    width: 30%;
}

.burger-menu{
    margin: 15px 30px 25px;
}
/* footer */

.footer-items section{
    width: 65%;
}

.footer-items section i{
    transition: all 450ms;
}

.footer-items section:hover i{
    color: #0022AA;
    font-size: 2.5em;
}

     /* footer */

     .footer-items section{
        width: 65%;
    }

    .footer-items section i{
        transition: all 450ms;
    }

    .footer-items section:hover i{
        color: #0022AA;
        font-size: 2.5em;
    }

    /* main */

    main{
        margin-top: 15px;
    }
    
    .login-form{
        width: 70%;
    }
}

@media (min-width: 769px){
   /* notebook */

     /*header */

     header a{
        transition: all 350ms;
    }

    header a:hover{
        color: #000000;
        font-size: 1.05em;
    }

    .barra-busqueda form{
        transition: 300ms;
    }

    .barra-busqueda:hover form{
        border: #666 solid 1px;
    }

    .header-notebook{
        height: 100px;
    }

    .login,.site{
        text-align: left;
        display: inline;
        display: flex;
    }

    .login{
        width: 33%;
        justify-content: space-around;
        flex-grow: 45%;
    }

    .site{
        flex-grow: 55%;
        justify-content: space-around;
        width: 35%;
    }

    .logo{
        width: 25%;
    }
    
    nav li{
        font-size: 1.2em;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    .burger-menu{
        display: none;
    }


    /* footer */

    .footer-items{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    
    .footer-items section{
        width: 30%;
    }


    /* main */

    .login-form{
        width: 50%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .login-form input:hover{
        border:#666 solid 1px;
    }
}