*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #EAC926;
    width: 100%;
}

/* header*/
header{
    width: 100%;
}

header p{
    text-align: center;
    color: #000000;
}

header a{
    color: #000000;
    text-decoration: none;
}

.login,.site{
    display: none;
}

.burger-menu i{
    color:#ffffff;
    font-size: 20px;
    background-color: #1259c3;
    padding: 9px 10px;
    border-radius: 4px;
}

.burger-menu{
    text-align: center;
    margin: 30px;
}

.header-mobile{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.logo{
    flex-grow: 50%;
    width: 50%;
    padding: 5px;
}

.barra-busqueda input{
    background-color: #ffffff;
    padding: 10px;
    border: #ffffff;
    border-radius: 4px;
    width: 95%;
}

.barra-busqueda i{
    background-color: #ffffff;
    color: #666;
    padding: 10px;
    border-radius: 4px;
    margin-right: 0px;
}

.header-mobile form{
    background-color: #ffffff;
    border: #ffffff;
    border-radius: 4px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.barra-busqueda{
    border-radius: 4px;
    border: #ffffff;
    margin: 5px;
    width: 100%;
    flex-grow: 50%;
}

/* footer*/

footer{
    background-color: #ffffff;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0px;
    padding: 15px;
    text-align: center;
}
footer section i{
    color: #1259c3;
    size: 2em;
    margin-bottom: 10px;
}

footer section.copyright{
    text-align: left;
    margin-top: 20px;
}

/* main */

main{
    background-color: #ebebeb;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
}


.titulares{
    font-size: 24px;
    color:#666;

}

.register-form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.register-labels{
    font-size: 1.1em;
    padding-bottom: 7px;
    padding-top: 5px;
}
.register-form form{
    display: flex;
    flex-direction: column;
}

.register-form input{
    padding: 10px;
    border-radius: 7px;
    border: solid 1.5px #ebebeb;
}

.user-names input, .passwords input{
    width: 100%;
    margin-bottom: 15px;
}

.register-form label{
    margin: 5px;
}

.profile-radio{
    display: flex;
    flex-direction: row;
}

.profile-radio label{
    display: flex;
    align-items: center;
}

.profile-radio label input{
    margin-right: 15px;
}

.intereses{
    display: flex;
    flex-direction: column;
}

.intereses label{
    display: flex;
    align-items: center;
}

.intereses label input{
    margin-right: 15px;
    margin-left: 20px;
}

.botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

button{
    background-color: #1259c3;
    color: #ffffff;
    padding: 5px 20px;
    border: #1259c3 solid 1px;
    border-radius: 7px;
}




@media (min-width: 361px){

    /* header */

    .header-notebook{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 0px;
        padding-right: 10px;
    }
    .header-mobile{
        width: 60%;
        justify-content: space-between;
    }
    .logo{
        width: 30%;
        flex-grow: 30%;
    }
    .barra-busqueda{
        margin: 20px;
        width: 55%;
        flex-grow: 70%;
        justify-self: center;
    }
    .barra-busqueda i,.barra-busqueda input{
        padding: 12px;

    }
    .header-notebook p{
        font-size: 1.5em;
        justify-self: center;
        width: 40%;
    }

    /* main */

    main{
        margin-top: 15px;
    } 

    .register-form{
        width: 90%;
    }

    .user-names, .passwords{
        display: flex;
        justify-content: space-between;
    }

    .user-names input, .passwords input{
        margin-bottom: 10px;
        width: 49.5%;
    }
}

@media (min-width: 769px){
   /* notebook */

    /*header */

    .login,.site{
        text-align: left;
        display: inline;
        display: flex;
    }

    .login{
        width: 33%;
        justify-content: space-around;
        flex-grow: 45%;
    }

    .site{
        flex-grow: 55%;
        justify-content: space-around;
        width: 38%;
    }
    
    nav li{
        font-size: 1.2em;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .burger-menu{
        display: none;
    }

    /* main*/

    .register-form{
        width: 50%;
    }

    
}