body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #EAC926;
}
.precio{
    font-size: 18px;
}
.descuentos,.descripciones{
    font-size: 16px;
}

footer{
    background-color: #ebebeb;;
}

footer section i{
    color: #1259c3;
    size: 2em;
    margin-bottom: 10px;
}

footer section{
    text-align: center;
}

header i{
    color: #000000;
}

header .burger-menu{
    color:#1259c3;
}