/* Secciones principales*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #EAC926;
    width: 100%;
}

/* header*/
header{
    width: 100%;
}

header p{
    text-align: center;
    color: #000000;
}

header a{
    color: #000000;
    text-decoration: none;
}

.login,.site{
    display: none;
}

.burger-menu i{
    color:#ffffff;
    font-size: 20px;
    background-color: #1259c3;
    padding: 9px 10px;
    border-radius: 4px;
}

.burger-menu{
    text-align: center;
    margin: 30px;
}

.header-mobile{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.logo{
    flex-grow: 50%;
    width: 50%;
    padding: 5px;
}

.barra-busqueda input{
    background-color: #ffffff;
    padding: 10px;
    border: #ffffff;
    border-radius: 4px;
    width: 95%;
}

.barra-busqueda i{
    background-color: #ffffff;
    color: #666;
    padding: 10px;
    border-radius: 4px;
    margin-right: 0px;
}

.header-mobile form{
    background-color: #ffffff;
    border: #ffffff;
    border-radius: 4px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.barra-busqueda{
    border-radius: 4px;
    border: #ffffff;
    margin: 5px;
    width: 100%;
    flex-grow: 50%;
}

/* footer*/

footer{
    background-color: #ffffff;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    padding: 15px;
    text-align: center;
}
footer section i{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

footer section.copyright{
    text-align: left;
    margin-top: 30px;
}

.footer-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-items section{
    margin-bottom: 20px;
    width: 85%;
}


/* main */

main{
    background-color: #ebebeb;
    width: 100%;
}

.all-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

main section{
    padding: 30px 20px;
}
.titulares{
    font-size: 24px;
    color:#666;

}

.productos{
    text-align: center;
    margin: 10px;
    width: 90%;    
}

img{
    width: 100%;
}

.informacion{
    background-color: #ffffff;
    text-align: left;
    padding: 15px 15px 0px 15px;
    border-top: solid #ebebeb 1px;
    position: relative;
}

.informacion > i{
    display: block;
    padding: 5px;
    font-size: 16px;
    width: 30px;
    height: 30px;    
    border: solid #39b54a 1px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}

.product-des-costo{
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.precio{
    font-size: 18px;
    flex-grow: 0.3;
}
.descuentos{
    color: #39b54a;
    font-size: 16px;
    flex-grow: 0.7;
}

.descripciones{
    font-size: 0.5px;
    color: #ffffff;
}


@media (min-width: 361px){

    /* header */

    .header-notebook{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 0px;
    }
    .header-mobile{
        width: 60%;
        justify-content: space-between;
    }
    .logo{
        width: 30%;
        flex-grow: 30%;
    }
    .barra-busqueda{
        margin: 20px;
        width: 55%;
        flex-grow: 70%;
        justify-self: center;
    }
    .barra-busqueda i,.barra-busqueda input{
        padding: 12px;

    }
    .header-notebook p{
        font-size: 1.5em;
        justify-self: center;
        width: 40%;
    }

    /* footer */

    .footer-items section{
        width: 65%;
    }

    .footer-items section i{
        transition: all 450ms;
    }

    .footer-items section:hover i{
        color: #0022AA;
        font-size: 2.5em;
    }

    /* main */

    main{
        margin-top: 15px;
    } 

    .productos{
        width: 40%;
        transition: all 500ms;
    }

    .productos:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .descripciones{
        transition: all 500ms;
    }

    .productos:hover .descripciones{
        font-size: 16px;
        color: #666;
    }

    .informacion{
        transition: padding 500ms;
    }
    .productos:hover .informacion{
        padding: 15px;
    }

    .informacion i{
        transition: transform 500ms;
    }

    .productos:hover .informacion i{
        transform: rotate(-90deg);
    }

}
@media (min-width: 769px){
   /* notebook */

    /*header */

    .login,.site{
        text-align: left;
        display: inline;
        display: flex;
    }

    .login{
        width: 33%;
        justify-content: space-around;
        flex-grow: 45%;
    }

    .site{
        flex-grow: 55%;
        justify-content: space-around;
        width: 38%;
    }
    
    nav li{
        font-size: 1.2em;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .burger-menu{
        display: none;
    }

    /* footer */

    .footer-items{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    
    .footer-items section{
        width: 30%;
    }

    /* main */
    .productos{
        width: 20%;
    }

    
}